<div class="list-component">
    <ul class="list">
        <!-- Todo Item -->
            <app-todo-item
                *ngFor="let todo of todos;"
                [todo]="todo"
                [editMode]="editMode"
                [lockTodoEdit]="false"
                (toggleDone)="handleToggleDoneClick(todo.id)"
                (clickDelete)="handleDeleteClick(todo.id)"
                (setEditMode)="handleSetEditMode(todo.id)"
                (unsetEditMode)="handleUnsetEditMode(todo.id, $event)"
                ></app-todo-item>
         <!-- Todo Item End-->
    </ul>
</div>
<div class="footer">
    <a routerLink='/done'>Show done todos</a>
    <span class="todo-count">{{countUndoneTodos()}} todos left</span>
</div>

