<div class="list-component">
    <ul class="list">
        <li class="complete">
            <div class="item">
                <input class="done-button" type="checkbox" checked>
                <span>buy a unicorn (urgent)</span>
                <button class="delete-button"></button>
            </div>
            <input class="edit" value="buy a unicorn (urgent)">
        </li>
        <li class="editing">
            <div class="item">
                <input class="done-button" type="checkbox">
                <span>eat some variables</span>
                <button class="delete-button"></button>
            </div>
            <input class="edit" value="eat some variables">
        </li>
        <li>
            <div class="item">
                <input class="done-button" type="checkbox">
                <span>taste some typescript</span>
                <button class="delete-button"></button>
            </div>
            <input class="edit" value="taste some typescript">
        </li>
    </ul>
</div>
<div class="footer">
    <span class="todo-count">0 todos/s left</span>
</div>

