<h1>already done</h1>
<div class="todolist">
    <div class="list-all-component">
        <ul class="list-all">
            <app-todo-item
                *ngFor="let todo of doneTodos;"
                [todo]="todo"
                [editMode]="false"
                [lockTodoEdit]="true"
                (toggleDone)="handleTodoDoneClick(todo.id)"
                (clickDelete)="handleDeleteClick(todo.id)"
            ></app-todo-item>
        </ul>
    </div>
    <div class="footer">
        <a routerLink='/'>Go Back</a>
    </div>
</div>
